.r0{
  
  margin: 2px;
  border-radius: 4px;
  width: 30px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px 1px    #9abbce;
  display: flex;
  justify-content: center;
  align-items: center;

}
.rz{
  border: 1px solid white; 
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.remainrequest{
  margin-left: 50px;
  height: 50px;
  width: 100px;
  background-color: #0ea5e9;
  color: white;
}
.rrrrr1{
 margin-left: 50px;
  margin-top: 10px; 
  
  

height: aut o;
width: auto;
  border-radius: 10px;
   box-shadow: 2px 6px 13px -4px rgb(0 0 0 / 57%);
  
   padding: 1.25rem;
   position: -webkit-sticky;
   position: sticky;
  }
  .r{
    
    background-color:#0ea5e9 ;
    height: 30px;
    width: auto;
    color: white;
   font-family: Arial, Helvetica, sans-serif;
    
  }
  .r2{
   background-color: white;
    height: 40px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  .r3{
    background-color: white;
    box-shadow: 1px 1px 1px 1px    #9abbce;
    margin-left: 720px;
    margin-top:120px;
    border-radius: 7px;
    border-color: #a3a3b4;
    border: 1px solid #ccc;
    height: 25px;
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
    
  }
  .r4{
    border: 0.5px solid #a3a3b4;
    
  }
  .r5{
   
   height: auto;
   
  
  }
  .sasvarch{
    border: 0.5px solid #a3a3b4;
    width: 430px;
    height: 10px;
    margin-left: 200px;
    box-sizing: border-box;
    background-color: #0ea5e9;
    
    outline: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../../../../../image/icons8-search-25.png');
    
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    
    
  }
  .color{
    color: red;
  }
  .rrr6{
    background-color: white;
    box-shadow: 2px 2px 2px 2px    #9abbce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px; 
    height: auto;
    width:350px;
    border-radius: 9px;
   
  }
  .r11{
   
    height: 30px;
    width:100%;
   margin-left: 50px;
    
    display: flex;
    align-items: flex-end;
    font-family: ;
  }
  .r8{
    display: flex;
    flex-direction: row;
   
    justify-content: end;
    gap: 10px;
  }
  .r9{
width: 90px;
margin-top: 10px;
height: 30px;
border: 1px solid #ccc;
box-shadow: 1px 1px 1px 1px    #9abbce;
border-radius: 4px;
font-family: 'Courier New', Courier, monospace;
  }
  .r10{
    margin-top: 10px;
    width: 90px;
    height: 30px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px 1px    #9abbce;
    border-radius: 4px;
   font-family: 'Courier New', Courier, monospace;
  }
  .r7{
    width: 300px;
    height: 30px;
    padding: 6px 6px;
    border-radius: 5px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  .r12{
   
    margin: 50px;
  }
  .tit{
   
    height: 50px;
  
   background-color: #0ea5e9;
   display: flex;
   font-size: larger;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   justify-content: center;
   align-items: center;

  }
  .r14{
    border: 1px solid #ccc;
    height: auto;
    width: 400px;
    margin-left: 300px;
    border-radius:9px;
    box-shadow: 2px 2px 2px 2px    #9abbce;
  }
  .r15{
   
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 20px;
    padding: 10px;
  
   
   
   
  }
  .r16{
    border: 1px solid #ccc;
    height: 30px;
    width: 100px;
    border-radius: 4px;
    margin-left: 600px;
    margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 1px 1px 1px 1px    #9abbce;

  }
  .class7{
    margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
   
    
  }
  