.logo{
   
    height: 50px;
    background-image:url("./image/fotor_2023-2-5_16_0_21.jpg");
    background-repeat: no-repeat;
    width: 300px;
    
    
   
   
}

.sidebar{
    
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
   
}
#icon{
    flex:30%;
    columns: white;
   
}
#title{
    flex:70%
}
.navbar{
   
   margin-right: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
   gap: 50px;

 
}
.aaaa{
    font-weight: bold;
}
.all{
    background-image: url("./image/msg674352287-72159.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    
}



.homeee{

    margin-left: 170px;
    font-size: large;
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.home1{
    height: 200px;
    width: 500px;
   margin-left: 150px;
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
  font-weight: bold;
   font-size: 40px;
   color: white;
   font-family:Georgia, 'Times New Roman', Times, serif;
   
   
}
.nav{
  height: 50px;
  width: 100%;



}
.sqr{
    background-image: url("./image/61ee440df8acf4854512dfe5_Types\ of\ Inventory\ Management-p-1080.jpg");
    
   
    
   
}
.nav1{  
    color: white;
    height: 50px; 
    width: 100%;
  
display: flex;
justify-content: flex-end;
align-items: center;
padding: 50px;
    
}
.nav2{
    height: 100px;
    background-color: #0ea5e9;   
}
